@font-face{
	font-family: springscript;
	src: url('Spring Script.ttf');
}

@font-face{
	font-family: dreamer;
	src: url('Dreamer.ttf');
}
html, body {
	margin: 0;
	padding: 0;
}
.header img{
	position: absolute;
}
.header{
	margin-top: 0;
	background-color: #300532;
}
.header h1{
	padding-top:50px;
	color: #ffffff;
	font-size: 40;
	font-family: springscript;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	
}
.nav{
	 margin: 0;
 	padding: 25px 0;
 	text-align: center;
}
.nav div{
	display:inline;
}
.nav li{
	display: inline;
	color: #ffffff;
	font-family: dreamer;	
	font-weight: 600;
	font-size: 16px;
	display: inline;
	padding-right: 9em;
	text-transform: uppercase;
	
}
a:hover{
	text-shadow: 2px 2px 5px white;
}
a{
	text-decoration: none;
	color: #ffffff;
}
.selected{
	text-shadow: 2px 2px 5px white;
	text-decoration: underline;
}
#last{
	padding-right: 0;
}

.container {
 max-width: 940px;
 margin: 0 auto;
 padding: 0 10px;
}

.jumbotron {
 height: 800px;
 background-image: url('MAP-.png');
 background-size: 100% 100%;
}

#pagetitle{
	text-transform: uppercase;
	font-size: 50px;
	font-family: springscript;
	text-align: center;
	padding-top: 13%;
	text-shadow: 0 0 5px white;
	font-weight: bold;
}
#description{
	font-size: 30px;
	text-shadow: 0 0 10px white;
	font-weight: 600px;
	margin: 0 0 20% 20%;
	padding-right: 20%;
	font-weight: bold;
	text-align: center;
	
}
.main{
	position: relative;
	top: 70px;
}
#texttitle{
	text-transform: uppercase;
	font-size: 70px;
	font-family: springscript;
	text-align: center;
	padding-top: 13%;
	text-shadow: 0 0 5px white;
	font-weight: bold;
}
#formheader{
	text-transform: uppercase;
	font-size: 70px;
	font-family: springscript;
	text-align: center;
	padding-top: 2%;
	text-shadow: 0 0 5px white;
	font-weight: bold;
}
input[type=text]{
	margin-left: 35%;
	width: 30%;
	height: 7%;
	box-sizing: border-box;
}
input[type=text]:focus{
	background-color: lightblue;
}
input[type=password]{
	margin-left: 35%;
	width: 30%;
	height: 7%;
	box-sizing: border-box;

}
input[type=password]:focus{
	background-color: lightblue;
}
input[type=button]{
	font-size: 20px;
	font-weight: bold;
	position: relative;
	background-color:#300532;
	color:#ffffff;
	text-transform:uppercase;
	margin: 2% 0 0 43%;
	padding: 2% 5% 2% 5%;	
	border-radius: 25px;
	text-align: center;
}
input[type=button]:hover{
	background-color: #AA3763;
}
.btn-main{
	font-size: 20px;
	font-weight: bold;
	position: relative;
	background-color:#300532;
	color:#ffffff;
	text-transform:uppercase;
	margin: 5% 0 0 43%;
	padding: 2% 5% 2% 5%;	
	border-radius: 25px;
	text-align: center;
}
.btn-main:hover{
	background-color: #AA3763;
}
.about {
	position: relative;
	top: 200px;
	text-align: center;
}
.footer{
	background-color:#300532;
}
.lowermenu{
	padding:20px;
	color: #ffffff;
}
.lowermenu p{
	text-align: center;
}
