html, body {
	margin: 0;
	padding: 0;
}
.header{
	background-color: #2091C5;
	text-align: center;
}
.header h1{
	padding-top:50px;
	color: #ffffff;
	text-transform: uppercase;
	
}
.nav{
	padding:20px 0;
}
.nav div{
	display:inline;
}
.nav li{
	display: inline;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	display: inline;
	padding-right: 9em;
	text-transform: uppercase;
}
#last{
	padding-right: 0;
}

.navleft{
	margin: 0;
}

.navright{
	margin:0 0 0 70em ;
}
.body{
	height: 800px;
	background-color:#a9dded;
}
.main{
	position: relative;
	top:200px;
	text-align: center;
}
.main h1{
	text-transform: uppercase;
	font-size: 70px;
}
.btn-main{
	font-size: 20px;
	position: relative;
	background-color:#2091C5;
	color:#ffffff;
	height: 60px;
	width: 300px;
	text-transform:uppercase;
	margin: 0 0 0 40em;
	padding-top: 2em;
	padding-bottom: 0;
	border-radius: 25px;
}
.footer{
	background-color:#2091C5;
}
.lowermenu{
	padding:20px 0;
	color: #ffffff;
}
.lowermenu li{
	display: inline;
	font-weight: 600;
	font-size: 12px;
	display: inline;
	padding-right: 10em;
	text-transform: uppercase;
}
